<% layout('layout') -%>

chat.ejs here

<div id="container" class="container">
button

<div class="bottom-send-message"> 
<button type="submit" class="btn button-send middle">Submit</button>
</div>

</div>