<% layout('layout') -%>

<div class="wrap">
	<div class="container-fluid">
		<% posts.forEach(function(post, index){ %>
			<div class="row chat-content-block">
				<div class="col-xs-8 col-sm-9">
					<h3 class="chat-content-username"><%= post.name %></h3>
					<h4 class="chat-content-content"><%= post.content %></h4>
				</div>
				<div class="col-xs-4 col-sm-3">
					<h5 class="chat-content-time"><%= post.time %></h5>
				</div>
			</div>
			<p class="chat-content-interval"></p>
		<%}) %>
		<div id="add-chat-content-block"></div>
	</div>
</div>

<div class="footer">
	<div class="container-fluid">
		<div class = "row">

			<form class="form-horizontal" method="post" action="">
				<fieldset>
				<textarea class="form-control" rows="5" id="chat_content" name="chat_content" placeholder="Write a message here"></textarea>
				<div class="chat-submit-block"> 
					<button type="submit" class="btn chat-submit-button">Submit
					</button>
				</div>
				</fieldset>
			</form>
		</row>
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
	var socket = io();
	$('form').submit(function(){

		$.ajax({
			url: "http://localhost:3000/chat?callback=?",
			type: "GET",
			data: {"description": $('#chat_content').val()},
			dataType: "jsonp", 
			success: function(){
				console.log("ajax success");
			}
		});

		//set now's time
		var date = new Date();
		var hour =  date.getHours();
		var tz = "AM";
		if (hour>=12)
		{
			hour -= 12;
			tz = "PM";
		}
		var d = (date.getMonth()+1) + '.' + date.getDate() + '.' + date.getFullYear() + ' ' + hour + ':' + date.getMinutes()  + tz;
		// console.log('req user_chat_content : ' + req.body.chat_content + '\n' + 'date : ' + d);


		console.log('chat_content is ' + $('#chat_content').val());
		socket.emit('chat message', $('#chat_content').val(), d);
		$('#chat_content').val('');
		return false;
	});
	socket.on('chat message', function(msg, d){
		console.log('msg = ' + msg);

    	<!--$('#add-chat-content-block').append($('<li>').text(msg));-->
    	$('#add-chat-content-block').append(
    		'<div class="row chat-content-block">'+
    			'<div class="col-xs-8 col-sm-9">'+
					'<h3 class="chat-content-username">name</h3>'+
					'<h4 class="chat-content-content">' + msg + '</h4>'+
				'</div>'+
				'<div class="col-xs-4 col-sm-3">'+
					'<h5 class="chat-content-time">' + d + '</h5>'+
				'</div>'+
			'</div>'+
			'<p class="chat-content-interval"></p>'
    	);

  	});
</script>
