<% layout('layout') -%>

chat.ejs here

<div id="container" class="container">
button


<form class="form-horizontal" method="post" action="">
	<fieldset>
	<textarea class="form-control" rows="5" name="chat_content"></textarea>
	<div class="bottom-send-message"> 
		<button type="submit" class="btn button-send middle">Submit
		</button>
	</div>
	</fieldset>
</form>
</div>